.wpsr-twitter-tweet {
  .wpsr-twitter-card {
    border: 1px solid #e6ecf0;
    border-radius: 10px;
    margin-top: 10px;
    display: block;
    &:focus{
      outline: none;
      box-shadow: none;
    }
    &:hover{
      background-color: #fcfcfc;
    }
    .wpsr-tc-image {
      border-radius: 10px 10px 0 0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      img {
        border-radius: 10px;
        margin: 0;
      }
    }
    .wpsr-tc-summary-info {
      .wpsr-tc-desc {
        color: #657786;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.4;
        margin: 0;
        padding: 0;
      }
      .wpsr-tc-url {
        color: #657786;
        font-size: 15px;
      }
    }
    &.wpsr-tc-type-summary,
    &.wpsr-tc-type-summary_large_image {
      .wpsr-tc-summary-info {
        border-top: 1px solid #e6ecf0;
        padding: 10px;
      }
    }


    &.wpsr-tc-type-player {
      display: flex;
      .wpsr-tc-image {
        max-width: 20%;
        flex: 0 0 20%;
        padding-bottom: 20%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 10px 0 0 10px;
        img {
          max-width: 100%;
          display: none;
        }
      }
      .wpsr-tc-summary-info {
        align-self: center;
        padding: 10px 10px;
      }
    }

  }
}