.wpsr-twitter-feed-header{
    position: relative;
    .wpsr-twitter-user-profile-banner{
        background: #fff;
        position: relative;
        padding-top: 25%;
        overflow: hidden;
        img{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            transform: translate(-50%, -50%);
        }
    }
    .wpsr-twitter-user-info-wrapper{
        padding: 0 15px 20px;
        border-bottom: 2px solid #e6ecf0;
        border-left: 2px solid #e6ecf0;
        border-right: 2px solid #e6ecf0;
        margin-bottom: 20px;
        .wpsr-twitter-user-info-head{
            display: flex;
            justify-content: space-between;
            .wpsr-twitter-user-profile-pic{
                position: relative;
                z-index: 1;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
                img{
                    width: 68px;
                    height: 68px;
                    min-width: 68px;
                    min-height: 68px;
                    border: 3px solid #fafafa;
                    margin-top: -29px;
                    border-radius: 50%;
                }
            }

            .wpsr-twitter-user-follow-btn{
                background-color: #000000;
                font-size: 14px;
                padding: 0 20px;
                border-radius: 15px;
                color: #fff;
                font-weight: 700;
                display: flex;
                align-items: center;
                height: 30px;
                transition: 0.3s ease;
                margin-top: 10px;
                text-decoration: none;
                svg{
                    fill: #fff;
                    height: 16px;
                    margin-right: 5px;
                }
            }
        }
        .wpsr-twitter-user-info{
            .wpsr-twitter-user-info-name-wrapper{
                a{
                    text-decoration: none;
                    box-shadow: none;
                    outline: none;
                }
                .wpsr-twitter-user-info-name{
                    color: #14171a;
                    font-size: 18px;
                    font-weight: 800;
                    line-height: 1.4;
                    display: block;
                }
                .wpsr-tweeter-user-verified{
                    svg{
                        height: 16px;
                        width: auto;
                        fill: #1b95e0;
                        margin-bottom: -2px;
                    }
                }
                .wpsr-twitter-user-info-username{
                    font-weight: 400;
                    color: #657786;
                    font-size: 12px;
                    line-height: 1.4;
                    display: block;
                }
            }

            .wpsr-twitter-user-bio{
                p{
                    font-weight: 400;
                    color: #14171a;
                    font-size: 14px;
                    line-height: 1.4;
                    margin: 10px 0;
                    a{
                        color: #1b95e0;
                        text-decoration: none;
                        box-shadow: none;
                    }
                }
            }

            .wpsr-twitter-user-contact{
                span{
                    font-weight: 400;
                    color: #657786;
                    font-size: 14px;
                    line-height: 1.4;
                }
                i{
                    color: #657786;
                    font-size: 18px;
                    position: relative;
                    top: 3px;
                }
            }
            .wpsr-twitter-user-statistics{
                display: flex;
                margin-top: 10px;
                .wpsr-twitter-user-statistics-item{
                    margin-right: 15px;
                    display: flex;
                    flex-direction: column;
                    &:last-child{
                        margin-right: 0;
                    }
                    .wpsr-twitter-user-statistics-item-name{
                        color: #657786;
                        font-size: 14px;
                        line-height: 1.4;
                    }
                    .wpsr-twitter-user-statistics-item-data{
                        color: #14171a;
                        font-size: 18px;
                        font-weight: 700;
                        text-transform: uppercase;
                        line-height: 1.4;
                    }
                }
            }

        }
    }
}