.wpsr-testimonial-template-one{
  &.wpsr-review-template{
    margin-top: 0;
  }
  background-color: #F1F8FF;
  border-radius: 15px;

  @media screen and (max-width: 1024px) {
    padding: 25px 15px;
  }

  .wpsr-rating-wrapper{
    padding-bottom: 0;
  }
  .wpsr-review-date{
    margin-top: 5px;
  }
  .wpsr-review-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;

    .wpsr-reviewer-image{
      img{
        max-height: 80px;
        border-radius: 50%;
        max-width: 80px;
        object-fit: cover;
        border: 4px solid #d4d4d4;
      }
      padding-right: 15px;
      @media screen and (max-width: 1024px) {
        padding-right: 10px;
        img{
          max-height: 55px;
          max-width: 55px;
        }
      }
    }
    .wpsr-review-info{
      margin-right: auto;
      text-align: inherit;
      padding-top: 0;
      .wpsr-reviewer-name-url{
        .wpsr-reviewer-name{
          font-size: 16px;
          color: #737373;
          @media screen and (max-width: 1024px) {
            font-size: 14px;
          }
        }
      }
      .wpsr-reviewer-position{
        display: block;
      }
      .wpsr-reviewer-position{
        font-size: 15px;
        font-weight: 400;
        line-height: 1.6;
        color: #868686;
        margin: 2px 0 0 0;
        padding: 0;
      }
      .wpsr-author-website-logo-wrapper{
        img{
          height: 25px;
          object-fit: cover;
          width: auto;
        }
      }
      
      .wpsr-reviewer-name-wrapper {
        display: flex;
        align-items: center;
        gap: 5px; /* Added gap property for consistent spacing */
      }
      
      .wpsr-verified-review {
        display: inline-flex;
        vertical-align: middle;
        margin-left: 5px; /* Maintaining 5px spacing for older browsers */
      }
    }
  }
  .wpsr-review-title {
    margin-bottom: 5px;
    margin-top: 0;
    color: #868686;
  }
  //.wpsr-rating-wrapper{
  //  margin-top: 10px;
  //}
  .wpsr-review-content{
    margin-top: 10px;
    p{
      color: #868686;
    }
  }
  .wpsr-review-images{
    margin-top: 5px;
  }
}