@import "elements/universel";
@import "elements/social-wall";
@import "../public/elements/feed-popup";
@import "../public/feed-templates/facebook/template-1";
@import "../public/feed-templates/facebook/album";
@import "../admin/feed-templates/facebook/template-1";
@import "../admin/feed-templates/facebook/photo-feed";
@import "../admin/feed-templates/facebook/video-feed";
@import "../admin/feed-templates/facebook/event-feed";
@import "../admin/feed-templates/facebook/album-feed";
@import "../admin/feed-templates/facebook/single-album-feed";

