@import "elements/universel";
@import "elements/instagram-widget";
@import "elements/social-wall";

@import "feed-templates/instagram/template.scss";
@import "feed-templates/instagram/template-2.scss";