@import "elements/icons";
@import "elements/universel";
@import "elements/swiper-navs";
@import "elements/reviews-widget";
@import "elements/feed-popup";

@import "elements/rating";
@import "reviews-templates/popup";
@import "reviews-templates/template";
@import "reviews-templates/template-1";
@import "reviews-templates/template-2";
@import "reviews-templates/template-3";
@import "reviews-templates/template-4";
@import "reviews-templates/template-5";
@import "reviews-templates/template-6";
@import "reviews-templates/template-7";
@import "reviews-templates/template-8";
@import "reviews-templates/template-9";
@import "reviews-templates/template-10";
@import "reviews-templates/badge";
@import "reviews-templates/badge-1";
@import "reviews-templates/notification";
@import "reviews-templates/header-template-2";