@import "elements/icons";
@import "elements/universel";
@import "elements/swiper-navs";

@import "reviews-templates/template";
@import "testimonial-templates/template-1";
@import "testimonial-templates/template-2";