@import "elements/universel";
@import "elements/youtube-widget";
@import "elements/pagination";
@import "elements/social-wall";

@import "feed-templates/youtube/template.scss";
@import "feed-templates/youtube/template-2.scss";
@import "feed-templates/youtube/template-3.scss";