.wpsr-fb-album_feed{
  .wpsr-fb-feed-item{
    position: relative;
    overflow: hidden;
    display: initial;
    text-align: center;
    &:hover{
      .wpsr-fb-feed-album-name-outer{
        text-decoration: underline;
      }
      cursor: pointer;
    }
    .wpsr-fb-feed-image{
      position: relative;
      overflow: hidden;
      padding-top: 100%;
      margin: -1px;
      border-radius: 8px;
      box-shadow: 0 0 20px 0 rgb(0 0 0 / 6%);
      transition: 0.4s;
      &:hover{
        box-shadow: 0px 25px 59px 0px rgb(0 0 0 / 10%);
      }
      .wpsr-feed-link{
        cursor: pointer;
        position: initial;
      }
      img{
        position: absolute;
        width: auto;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 100%;
        min-width: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }
    .wpsr-fb-feed-album-name{
      color: #17191a;
      font-size: 14px;
      margin-bottom: 2px;
      margin-top: 10px;
      padding: 0;
    }
    .wpsr-fb-feed-album-count{
      color: #7f8588;
      font-size: 12px;
      opacity: 0.8;
    }
  }
  .wpsr-fb-feed-bread-crumbs{
    margin-bottom: 10px;
    font-size: 14px;
    color: #65676b;
    opacity: 0.8;
    .wpsr-fb-feed-bread-crumbs-album{
        margin-right: 5px;
        font-weight: bold!important;
        color: #0b0b0b;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
    }
  }
  .wpsr-fb-feed-album-header{
    text-align: center;
    margin-bottom: 10px;
    .wpsr-fb-feed-album-name{
      color: #17191a;
      font-size: 24px;
      text-align: center;
      margin: 0px;
      margin-top: 10px;
    }
    .wpsr-fb-feed-album-info{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      color: #65676b;
      .wpsr-fb-feed-album-photo-count{
        margin: 0px;
      }
      .wpsr-fb-feed-photo-album-divider{
        margin: 0px 10px 0px 10px;
      }
      .wpsr-fb-feed-album-update-count{
        margin: 0px;
      }
    }
    .wpsr-fb-feed-image{
      position: relative;
      overflow: hidden;
      padding-top: 100%;
      margin: -1px;
      border-radius: 8px;
      box-shadow: 0 0 20px 0 rgb(0 0 0 / 6%);
      transition: 0.4s;
      &:hover{
        box-shadow: 0px 25px 59px 0px rgb(0 0 0 / 10%);
      }
      .wpsr-feed-link{
        cursor: pointer;
        position: initial;
      }
      img{
        position: absolute;
        width: auto;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 100%;
        min-width: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }
  }
}