.wpsr-fb-feed-layout-standard {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.wpsr-fb-feed-follow-button-group {
  display: flex;
  align-items: center;
  flex: auto 0 0;
  .wpsr-fb-feed-btn {
    flex: auto 0 0;
    a {
      text-decoration: none;
      padding: 7px 15px 5px 15px;
      color: #17191a;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.4;
      border-radius: 4px;
      background-color: #fff;
      display: inline-flex;
      align-items: center;
      box-shadow: -1px 2px 12px 1px rgb(67 72 74 / 15%);
      transition: 0.3s;
      @media screen and (max-width: 767px) {
        padding: 7px 5px 5px 10px;
      }
      .wpsr-fb-feed-btn-icon{
        line-height: 1;
      }
      svg{
        margin-right: 5px;
      }
      &:hover,
      &:focus{
        outline: none;
        border: none;
        box-shadow: 0px 25px 59px 0px rgb(0 0 0 / 10%);
      }
      @media screen and (max-width: 767px) {
        .wpsr-fb-feed-btn-text{
          display: none;
        }
      }
    }
  }
}

.wpsr-has-equal-height{
  .wpsr-fb-feed-inner{
    height: 100%;
  }
  .swiper-slide{
    height: initial;
  }
}
.wpsr-fb-feed-wrapper-inner{
  position: relative;
}
.wpsr-fb-feed-image{
  .wpsr-feed-link{
    position: relative;
  }
}
.wpsr-fb-feed-wrapper{
  width: 100%;
  position: relative;
  a {
    box-shadow: none;
    text-decoration: none;
    outline: none;
    border: none;
    &:focus,
    &:hover{
      box-shadow: none;
      outline: none;
      border: none;
    }
  }
}
.wpsr-fb-feed-video-play{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  border-radius: 50%;
  background: rgba(23,25,26,0.4);
  border: 2px solid #fff;
  visibility: visible;
  transition: all 0.3s;
  .wpsr-fb-feed-video-play-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 17px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAARCAYAAAACCvahAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJZJREFUeNpi+P//fz8QPwBiSyBmIAWDCGRwAIglyNUMA21AzEauZhD4DsR+QMxIjmYYuArEauRqhoEFQMxDrmYYSANiJpBmkH+ARpAMXgKxHbmaQeAHE5ka/wCxJzl+ngjEHKQG2GEgliE1tF8DsTU58ZwJxMykpjBQguAlJm1/RtJ0GYhVSMlVlUD8Foi98GUCbBggwACCK+Rk0kBM9QAAAABJRU5ErkJggg==);
    margin: -8px 0 0 -5px;
  }
  
}

/* Album video play icon specific styling */
.wpsr-fb-feed-video-play-album {
  width: 35px;
  height: 35px;
  margin: -15px 0 0 -15px;
}

.wpsr-fb-feed-footer{
  display: flex;
  justify-content: center;
}

.wpsr-video-optimized-img {
  width: 100% !important;
}

/* Popup Styles for Facebook Feed Templates */
.wpsr-fb-feed-popup {
  &.wpsr-feed-popup-overlay.wpsr-feed-popup-open .wpsr-feed-popup-box-wraper .wpsr-feed-popup-box-wraper-inner{
    @media screen and (max-width: 767px) {
      height: auto;
      .wpsr-feed-popup-media{
        padding-top: 0;
      }
      .wpsr-feed-popup-view-post-cta{
        width: 100%;
        justify-content: center;
        margin-top: 5px;
      }
    }
  }
  .wpsr-feed-popup-box-wraper-inner {
    &.wpsr-feed-timeline_feed {
      .wpsr-feed-popup-media img {
        width: auto;
        max-width: 615px;
      }
    }
    .wpsr-feed-popup-carousel-wrapper{
      .swiper-slide{
        height: initial;
      }
    }
  }
}

.wpsr-feed-popup-video-player {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.wpsr-feed-popup-photo-media .wpsr-feed-popup-video-player {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.wpsr-fb-feed-video-thumbnail {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  position: relative;
  display: grid;
  cursor: pointer;
  line-height: 0;
  text-decoration: none;
}

.wpsr-feed-popup-video-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.wpsr-feed-popup-carousel-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

/* Popup carousel container adjustments for videos */
.wpsr-feed-popup-carousel-wrapper {
  .swiper-slide{
    height: auto;
    min-height: 300px;
    &.wpsr-carousel-slide-video {
      min-height: 400px;
    }
  }
  .wpsr-image-slide {
    .wpsr-feed-popup-carousel-image {
      width: 100%;
      height: auto;
      object-fit: contain;
      display: block ;
    }
  }
  .wpsr-video-slide {
    .wpsr-feed-popup-video-container {
      position: relative;
      width: 100%;
      // height: auto;
      max-height: 70vh;
      
      video {
        width: 100%;
        height: auto;
        max-height: 70vh;
        object-fit: contain;
        display: block;
        background: #000;
      }
      
      .wpsr-feed-popup-carousel-video {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
        background: #000;
      }
    }
  }
}
.wpsr-feed-popup-image-container{
  display: flex;
  align-items: center;
}
.wpsr-slider-before-init .wpsr-fb-feed-image {
  display: block;
}
.swiper-container .wpsr-animated-background {
  background: #f0f0f0;
}
.wpsr-slider-before-init .wpsr-animated-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 22;
}

@media (max-width: 768px) {
  .wpsr-video-popup-container {
    max-width: 95%;
    max-height: 80%;
  }
}

@media (max-width: 480px) {
  .wpsr-video-popup-container {
    max-width: 98%;
    max-height: 70%;
  }
  
  .wpsr-fb-feed-image-album-item .wpsr-fb-feed-video-play-icon {
    width: 16px;
    height: 16px;
  }
}

