.wpsr-fb-feed-follow-button-group .wpsr-fb-feed-btn a svg{
  height: 12px;
  width: 12px;
}

.wpsr-fb-feed-follow-button-group .wpsr-fb-feed-btn a svg{
  height: 12px;
  width: 12px;
}

@import '../../elements/feed-popup';