//@import "extendClasses";

.wpsr-fb-photo_feed{
  .wpsr-fb-feed-item{
    position: relative;
    overflow: hidden;
    display: initial;
    //margin-bottom: 0;
    .wpsr-fb-feed-image{
      position: relative;
      overflow: hidden;
      padding-top: 100%;
      margin: -1px;
      border-radius: 8px;
      box-shadow: 0 0 20px 0 rgb(0 0 0 / 6%);
      transition: 0.4s;
      &:hover{
        box-shadow: 0px 25px 59px 0px rgb(0 0 0 / 10%);
      }
      .wpsr-feed-link{
        cursor: pointer;
        position: initial;
      }
      img{
        position: absolute;
        width: auto;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 100%;
        min-width: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }
  }
}