.wpsr-fm-chat-wrapper{
  .messenger{
    background-color: #0084ff;
  }
  .whatsapp{
    background-color: #4FCE65;
  }
  .telegram{
    background-color: #0088cc;
  }
  .instagram{
    background-color: #cd486b;
  }
  .instagram-dm{
    background-color: #cd486b;
  }
  .sms{
    background-color: rgb(1, 214, 19);
  }
  .twitter{
    background-color: #1cb1e8;
  }
  .slack{
    background-color: #1cb1e8;
  }
  .microsoft-teams{
    background-color: #FFFFFF;
  }
  .phone{
    background-color: #05e78a;
  }
  .email{
    background-color: #fe485e;
  }
  .wechat{
    background-color: #1cb1e8;
  }
  .line{
    background-color: #03c153;
  }
  .snapchat{
    background-color: #ffe81c;
  }
  .linkedin{
    background-color: #0177b5;
  }
  .viber{
    background-color: #655bac;
  }
  .fluent_forms{
    background-color: #34A853;
  }
}