@-webkit-keyframes wpsr-spinner {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  75% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
}
@keyframes wpsr-spinner {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  75% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
}

@-webkit-keyframes wpsrPlaceHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

@keyframes wpsrPlaceHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}