.widget_wpsn-widget{
  .wpsr-container{
    padding-left: 0;
    padding-right: 0;
  }
  .wpsr-ig-feed-wrapper:not(.wpsr-instagram-slider-activate){
    .wpsr-ig-feed-wrapper-inner{
      background-color: #f9f9f9;
      padding: 10px;
      overflow-y: scroll;
      max-height: 400px;
      height: 100%;
      overflow-x: hidden;
      transition: height 100ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }
    .wpsr-ig-header{
      margin-bottom: 0 !important;
    }
  }

  .wpsr-ig-header-inner{
    display: block;
    text-align: center;
    .wpsr-ig-header-logo{
      margin-right: 5px;
      a{
        img{
          width: 40px;
          height: 40px;
        }
      }
    }
    .wpsr-ig-header-info{
      .wpsr-ig-header-statistics{
        justify-content: center;
      }
      .wpsr-ig-header-name{
        a{
          font-size: 16px;
        }
      }
      .wpsr-ig-header-description{
        p{
          font-size: 14px;
        }
      }
    }
    .wpsr-ig-follow-btn{
      margin-left: 0;
      margin-top: 10px;
    }
  }
  .wpsr-ig-post{
    .wpsr-ig-post-info{
      padding: 10px;
      .wpsr-ig-post-statistics{
        .wpsr-ig-post-single-statistic svg{
          height: 18px;
          width: 18px;
        }
      }
      .wpsr-ig-post-caption{
        p{
          font-size: 12px;
        }
      }
      .wpsr-ig-icon{
        svg{
          width: 15px !important;
          height: 15px !important;
        }
      }
    }
  }
  .wpsr-instagram-slider-activate{
    .wpsr-ig-post{
      margin-bottom: 0;
    }
    .wpsr-swiper-pagination{
      bottom: initial !important;
    }
    .wpsr-swiper-prev-next{
      opacity: 0;
      transition: 0.3s;
    }
    &:hover{
      .wpsr-swiper-prev-next{
        opacity: 1;
      }
    }
  } 
  .wpsr-ig-footer{
    margin-top: 0 !important;
  }
  .wpsr-ig-follow-btn{
    margin-left: 10px;
  }
  .wpsr-ig-follow-btn a,
  .wpsr-ig-load-more.wpsr-load-more-default{
    padding: 5px 6px;
    font-size: 13px;
  }
}