.widget_wpsn-widget{
  & ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    overflow: visible;
  }
  & ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  & ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    background-clip: padding-box;
    border: solid transparent;
    border-radius: 8px;
    min-height: 8px;
  }
  & ::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background: #fff;
    border-left: 1px solid #f1f1f1;
  }
  .wpsr-container{
    padding-left: 0;
    padding-right: 0;
  }

  :not(.wpsr-reviews-slider-wrapper){
    &.wpsr-reviews-wrapper{
      background-color: #fcfcfc;
    }
    .wpsr-fixed-height{
      .wpsr-row{
        &:nth-child(2){
          height: auto;
          padding: 10px;
          overflow-y: scroll;
          max-height: 400px;
          overflow-x: hidden;
          transition: height 100ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
        }
      }
    }
  }

  .wpsr-business-info{
    flex-direction: column;
    border-radius: 0 !important;
    .wpsr-business-info-left{
      flex: 0 0 100%;
      margin-bottom: 5px;
      .wpsr-business-info-logo{
        justify-content: center;
      }
      .wpsr-rating-and-count{
        display: block;
        text-align: center;
        .wpsr-total-rating{
          font-size: 16px;
        }
        .wpsr-star svg{
          height: 16px;
          width: 16px;
        }
        .wpsr-total-reviews{
          font-size: 14px;
        }
      }
    }
  }
  .wpsr-reviews-slider{
    padding-top: 0;
  }
  .wpsr-reviews-slider-wrapper-inner{
    .wpsr-review-template {
      margin-bottom: 0;
    }
    .wpsr-swiper-pagination{
      bottom: initial !important;
    }
    .wpsr-swiper-prev-next{
      opacity: 0;
      transition: 0.3s;
    }
    &:hover{
      .wpsr-swiper-prev-next{
        opacity: 1;
      }
    }
  }
}