.wpsr-swiper-carousel-wrapper .wpsr-swiper-prev-next,
.wpsr-feed-popup-carousel-wrapper .wpsr-swiper-prev-next{
	background-color: #000;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	border-radius: 50%;
	z-index: 2;
	text-transform: none;
	transition: all 0.2s ease;
	cursor: pointer;
}
.wpsr-swiper-carousel-wrapper .wpsr-swiper-pagination,
.wpsr-feed-popup-carousel-wrapper .wpsr-swiper-pagination{
	bottom: 0 !important;
	left: 0;
	right: 0;
	@media screen and (max-width: 767px) {
		bottom: initial !important;
	}
	span{
		background-color: #000;
		opacity: .2;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		margin: 0 5px;
		transition: .4s;
		&:hover,
		&:focus {
			opacity: 1;
		}
		&:hover {
			-webkit-transform: scale(1.3);
			-ms-transform:  scale(1.3);
			transform: scale(1.3);
		}
		&.swiper-pagination-bullet-active{
			-webkit-transform: scale(1.3);
			-ms-transform: scale(1.3);
			transform: scale(1.3);
			opacity: 1;
		}
	}
}

.wpsr-swiper-carousel-wrapper{
	.wpsr-swiper-prev-next:after
	{
		font-size: 14px;
	}
	.wpsr-swiper-next{
		right: -20px;
		@media screen and (max-width: 767px) {
			right: -10px;
		}
	}
	.wpsr-swiper-prev{
		left: -20px;
		@media screen and (max-width: 767px) {
			left: -10px;
		}
	}
	.wpsr-swiper-next,
	.wpsr-swiper-prev{
		background-image: none;
		background-color: #fff;
		color: #909090;
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
		&:after {
			font-size: 16px;
		}
		&:hover,
		&:focus{
			box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
			background-color: #fff;
		}
	}
}
.wpsr-reviews-wrapper{
	.wpsr-fixed-height .wpsr-row{
		margin-left: -5px;
		margin-right: -5px;
		@media screen and (max-width: 767px) {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.wpsr-reviews-slider{
		padding-top: 30px;
		padding-left: 10px;
		padding-right: 10px;
		@media screen and (max-width: 767px) {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

.wpsr-reviews-slider-wrapper-inner{
	position: relative;
	margin-left: -10px;
	margin-right: -10px;
	@media screen and (max-width: 767px) {
		margin-left: 0;
		margin-right: 0;
		.wpsr-review-template {
			margin-bottom: 0;
		}
	}
}
.wpsr-twitter-carousel{
	.wpsr-twitter-wrapper-inner{
		position: relative;
	}
}
.wpsr-youtube-slider-activate .wpsr-yt-feed-wrapper-inner{
	position: relative;
	@media screen and (max-width: 767px) {
		.wpsr-yt-video{
			margin-bottom: 0;
		}
	}
}
.wpsr-facebook-feed-slider-activate{
	.wpsr-fb-feed-item{
		margin-bottom: 30px;
	}
}

.wpsr-tiktok-feed-slider-activate{
	.wpsr-tiktok-feed-item{
		margin-bottom: 30px;
		height: initial;
	}
}
.wpsr-instagram-slider-activate .wpsr-ig-feed-wrapper-inner,
.wpsr-facebook-feed-slider-activate .wpsr-fb-feed-wrapper-inner
.wpsr-tiktok-feed-slider-activate .wpsr-tiktok-feed-wrapper-inner{
	position: relative;
	@media screen and (max-width: 1024px) {
		.wpsr-swiper-pagination{
			bottom: -5px !important;
		}
	}
	@media screen and (max-width: 767px) {
		.wpsr-swiper-pagination{
			bottom: initial !important;
		}
		.wpsr-ig-post{
			margin-bottom: 0;
		}
		.wpsr-fb-feed-item{
			margin-bottom: 0;
		}
	}
}

.wpsr-reviews-slider .swiper-wrapper,
.wpsr-twitter-feed-wrapper .swiper-wrapper,
.wpsr-yt-feed-wrapper .swiper-wrapper,
.wpsr-ig-feed-wrapper .swiper-wrapper,
.wpsr-fb-feed-wrapper .swiper-wrapper
{
	margin-bottom: 10px;
	.swiper-slide{
		overflow: inherit !important;
		&:focus {
			outline: 2px solid black;
		}
	}
}
.wpsr-twitter-feed-wrapper{
	.swiper-wrapper{
		//margin-bottom: 40px;
		//@media screen and (max-width: 767px) {
		//		margin-bottom: 10px;
		//}
		.wpsr-twitter-tweet{
			margin-bottom: 0;
		}
	}
	&.wpsr-twitter-carousel{
		.wpsr-twitter-footer{
			margin-top: 30px;
		}
		.wpsr-swiper-pagination{
		//	margin-bottom: 40px
			bottom: inherit !important;
		}
	}
}
.wpsr-feed-popup-carousel-wrapper{
	.wpsr-swiper-prev{
		left: 5px;
	}
	.wpsr-swiper-next{
		right: 5px;
	}
	.wpsr-swiper-pagination{
		span{
			background-color: #fff;
			opacity: .4;
			&.swiper-pagination-bullet-active{
				opacity: 1;
			}
		}
	}
}

/** fix elementor swiper css conflict **/
.elementor-widget-container{
	.wpsr-feed-wrap{
		.swiper-button-next,
		.swiper-button-prev {
			position: absolute;
			top: 50%;
			margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
			z-index: 10;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.swiper-button-next:after,
		.swiper-button-prev:after {
			font-size: 26px;
			text-transform: none !important;
			letter-spacing: 0;
			text-transform: none;
			font-variant: initial;
			line-height: 1;
			font-family: wp-social-reviews;
		}

		.swiper-button-prev:after,
		.swiper-container-rtl .swiper-button-next:after {
			content: "\63";
		}

		.swiper-button-next:after,
		.swiper-container-rtl .swiper-button-prev:after {
			content: "\62";
		}
	}
}
/** fix elementor pro swiper css conflict **/
.wpsr_content .swiper-container:not(.swiper-container-initialized)>.swiper-wrapper,
.wpsr_content .swiper:not(.swiper-initialized)>.swiper-wrapper {
	overflow: unset;
}