.widget_wpsn-widget{
  background-color: #f5f5f5;
  .wpsr-twitter-feed-wrapper:not(.wpsr-twitter-carousel){
    .wpsr-twitter-wrapper-inner{
      padding: 10px;
      overflow-y: scroll;
      max-height: 400px;
      height: 100%;
      overflow-x: hidden;
      transition: height 100ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }
    .wpsr-twitter-feed-header .wpsr-twitter-user-info-wrapper{
      margin-bottom: 0;
    }
  }
  & ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    overflow: visible;
  }
  & ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  & ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    background-clip: padding-box;
    border: solid transparent;
    border-radius: 8px;
    min-height: 8px;
  }
  & ::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background: #fff;
    border-left: 1px solid #f1f1f1;
  }
  .wpsr-container{
    padding-left: 0;
    padding-right: 0;
  }
  .wpsr-twitter-user-follow-btn{
    color: #fff !important;
  }
  .wpsr-twitter-carousel{
    .wpsr-swiper-prev-next{
      opacity: 0;
      transition: 0.3s;
    }
    &:hover{
      .wpsr-swiper-prev-next{
        opacity: 1;
      }
    }
  }

  .wpsr-twitter-loadmore.wpsr-load-more-default{
    padding: 10px 15px;
    font-size: 13px;
    width: auto;
  }
}