.widget_wpsn-widget{
  .wpsr-container{
    padding-left: 0;
    padding-right: 0;
  }
  .wpsr-yt-feed-wrapper:not(.wpsr-youtube-slider-activate){
    .wpsr-yt-feed-wrapper-inner{
      padding: 10px;
      overflow-y: scroll;
      max-height: 400px;
      height: 100%;
      overflow-x: hidden;
      transition: height 100ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }
    .wpsr-yt-header{
      margin-bottom: 0 !important;
    }
  }

  .wpsr-yt-header-inner{
    padding: 10px 5px;
    .wpsr-yt-header-logo{
      margin-right: 5px;
      a{
        img{
          width: 50px;
          height: 50px;
        }
      }
    }

    .wpsr-yt-header-info{
      .wpsr-yt-header-channel-name{
        a{
          font-size: 14px;
        }
      }
      .wpsr-yt-header-channel-statistics{
        .wpsr-yt-header-statistic-item{
          font-size: 12px;
        }
        .wpsr-yt-header-statistic-item:after{
          right: -5px;
        }
      }
      .wpsr-yt-header-description{
        p{
          font-size: 14px;
        }
      }
    }

    .wpsr-yt-header-subscribe-btn{
      margin-left: 5px;
      a{
        font-size: 12px;
        padding: 5px 10px;
      }
    }
  }
  .wpsr-yt-video{
    .wpsr-yt-video-info{
      h3{
        font-size: 12px;
      }
    }
    .wpsr-yt-video-preview svg{
      width: 25px;
    }
  }
  .wpsr-youtube-slider-activate{
    .wpsr-yt-video{
      margin-bottom: 0;
    }
    .wpsr-swiper-pagination{
      bottom: initial !important;
    }
    .wpsr-swiper-prev-next{
      opacity: 0;
      transition: 0.3s;
    }
    &:hover{
      .wpsr-swiper-prev-next{
        opacity: 1;
      }
    }
  }
  .wpsr-yt-load-more.wpsr-load-more-default{
    padding: 10px 15px;
    font-size: 13px;
    width: auto;
  }
}