// buttons
.el-button.wpsr_primary_btn{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: var(--wpsr-radius-md, 8px);
    background: var(--wpsr-primary-btn-bg, #0E121B);
    color: var(--wpsr-primary-btn-text, #FFF);
    border: none;
    height: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.084px;

    &.is-disabled{
        background-color: var(--wpsr-menu-active-bg, #F5F7FA);
        border-color: var(--wpsr-menu-active-bg, #EEE9FB);
        color: var(--wpsr-secondary-link, #99A0AE);
        &:hover {
            background-color: var(--wpsr-menu-active-bg, #F5F7FA);
            color: var(--wpsr-secondary-link, #99A0AE);
            cursor: not-allowed;
        }
    }

    &:hover {
        background-color: var(--wpsr-primary-btn-bg, #0E121B);
        color: var(--wpsr-primary-btn-text, #FFF);
        outline: none;
        cursor: pointer;
    }

    &:focus {
        outline: none;
        box-shadow: 0px 0px 0px 2px var(--wpsr-primary-bg, #FFF), 0px 0px 0px 4px rgba(153, 160, 174, 0.16);
    }
}

.el-button.wpsr_secondary_btn{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: var(--wpsr-radius-md, 8px);
    background: var(--wpsr-secondary-btn-bg, #0E121B);
    color: var(--wpsr-secondary-button-text, #FFF);
    border: none;
    height: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.084px;

    &:hover {
        background-color: var(--wpsr-secondary-btn-hover-bg, #222530);
        color: var(--wpsr-primary-btn-text, #FFF);
        outline: none;
        cursor: pointer;
    }

    &:focus {
        outline: none;
        box-shadow: 0px 0px 0px 2px var(--wpsr-primary-bg, #FFF), 0px 0px 0px 4px rgba(153, 160, 174, 0.16);
    }
}

.el-button.wpsr_default_btn{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: var(--wpsr-radius-md, 8px);
    color: var(--wpsr-primary-text, #525866);
    background-color: transparent;
    border: 1px solid var(--wpsr-primary-border, #E1E4EA);
    height: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.084px;
    text-decoration: none;
    &.wpsr_icon_btn{
        padding: 4px;
        gap: 2px;
    }

    &:hover {
        color: var(--wpsr-menu-text-active, #0E121B);
        border: 1px solid var(--wpsr-primary-border, #E1E4EA);
        background: var(--wpsr-secondary-bg, #F5F7FA);
        outline: none;
        cursor: pointer;
    }

    &:focus {
        color: var(--wpsr-menu-text-active, #0E121B);
        border: 1px solid var(--wpsr-menu-text-active, #0E121B);
        background: var(--wpsr-primary-bg, #FFF);
        /* components/buttons/important-focus */
        box-shadow: 0px 0px 0px 2px var(--wpsr-primary-bg, #FFF), 0px 0px 0px 4px rgba(153, 160, 174, 0.16);
    }

    svg path{
        fill: var(--wpsr-svg-primary-color, #525866);
    }
}

.el-button.wpsr_default_btn_primary{
    background-color: var(--wpsr-primary-bg, #FFF);;
    border: 1px solid var(--wpsr-primary-border, #E1E4EA);
    color: var(--wpsr-primary-text, #525866);
}
.el-button.wpsr_plain_btn{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--wpsr-primary-text, #525866);
    background: transparent;
    border: 1px solid transparent;
    border-color: transparent;
    height: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.084px;

    &.wpsr_icon_button{
        padding: 6px;
    }
    &:hover {
        border: 1px solid var(--wpsr-primary-border, #E1E4EA);
        background: transparent;
        outline: none;
        cursor: pointer;
        color: var(--wpsr-primary-text, #525866);
        box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    }

    &:focus {
        color: var(--wpsr-menu-text-active, #0E121B);
        border: 1px solid var(--wpsr-menu-text-active, #0E121B);
        background: var(--wpsr-primary-bg, #FFF);
        /* components/buttons/important-focus */
        box-shadow: 0px 0px 0px 2px var(--wpsr-primary-bg, #FFF), 0px 0px 0px 4px rgba(153, 160, 174, 0.16);
    }

    &:active {
        color: var(--wpsr-menu-text-active, #0E121B);
        border: 1px solid var(--wpsr-menu-text-active, #0E121B);
        background: var(--wpsr-primary-bg, #FFF);
        /* components/buttons/important-focus */
        box-shadow: 0px 0px 0px 2px var(--wpsr-primary-bg, #FFF), 0px 0px 0px 4px rgba(153, 160, 174, 0.16);
    }

    svg path{
        fill: var(--wpsr-svg-primary-color, #525866);
    }
}

.el-button.wpsr_primary_light_btn{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--wpsr-secondary-menu-active-text, #5525D9);
    border: 0px;
    height: auto;
    border-color: transparent;
    border-radius: var(--wpsr-radius-md, 8px);
    background: var(--wpsr-primary-light-bg, rgba(120, 77, 239, 0.10));
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.084px;

    &.wpsr_icon_button{
        padding: 6px;
    }
    &:hover {
        border: 1px solid var(--wpsr-secondary-menu-active-text, #5525D9);
        border-radius: var(--wpsr-radius-md, 8px);
        background: transparent;
        outline: none;
        color: var(--wpsr-secondary-menu-active-text, #5525D9);
        cursor: pointer;
        box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    }

    &:focus {
        color: var(--wpsr-secondary-menu-active-text, #5525D9);
        border: 1px solid var(--wpsr-secondary-menu-active-text, #5525D9);
        border-radius: var(--wpsr-radius-md, 8px);
        background: var(--wpsr-primary-bg, #FFF);
        /* components/buttons/important-focus */
        box-shadow: 0px 0px 0px 2px var(--wpsr-primary-bg, #FFF), 0px 0px 0px 4px rgba(153, 160, 174, 0.16);
    }
}

.el-button.wpsr_primary_btn_outline{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: auto;
    border-radius: var(--wpsr-radius-md, 8px);
    background: var(--wpsr-secondary-menu-active-bg, #EEE9FB);
    color: var(--wpsr-secondary-menu-active-text, #5525D9);
    border: 1px solid var(--wpsr-secondary-menu-active-bg, #EEE9FB);
    font-size: 14px;
    font-weight: 500;
    .el-icon{
        margin-right: 4px;
    }
    &:hover{
        background: var(--wpsr-secondary-menu-active-bg, #EEE9FB);
        color: var(--wpsr-secondary-menu-active-text, #5525D9);
        border: 1px solid var(--wpsr-secondary-menu-active-bg, #EEE9FB);
    }
    &:focus{
        outline: none;
    }
}

.el-button.wpsr_simple_btn{
    display: inline-flex;
    padding: 0;
    border-radius: unset;
    color: var(--wpsr-secondary-menu-active-text, #5525D9);
    text-decoration: underline;
    text-decoration-color: var(--wpsr-secondary-menu-active-text, #5525D9);
    background-color: transparent;
    border: none;
    height: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    &:hover,
    &:focus{
        color: var(--wpsr-menu-text-active, #0E121B);
        text-decoration-color: var(--wpsr-menu-text-active, #0E121B);
        border: none;
        background: transparent;
        outline: none;
    }
}
.el-input{

    &.wpsr-input-primary{
        height: 40px;
        border-radius: 10px;
        &.wpsr-border-around{
            .el-input__wrapper{
                border: 1px solid var(--wpsr-primary-border, #E1E4EA);
                border-radius: 10px;
                padding: 10px 12px;
            }
        }
        .wpsr-icon-key{
            svg{
                path{
                    fill: var(--wpsr-icon-info-secondary-color, #99A0AE);
                }
            }
        }
        .el-input-group__prepend{
            border-radius: 10px 0 0 10px;
        }
        .el-input-group__prepend,
        .el-input-group__append{
            border: 1px solid var(--wpsr-primary-border, #E1E4EA);
            box-shadow: 0 1px 2px 0 rgba(10, 13, 20, 0.03);
            padding: 10px;
            background-color: var(--wpsr-primary-bg, #FFF);
        }
        .el-input-group__append{
            border-radius: 0 10px 10px 0;
            border-left: none;
            padding: 10px 15px;
        }
        .el-input__wrapper{
            background-color: var(--wpsr-primary-bg, #FFF) !important;
            border-top: 1px solid var(--wpsr-primary-border, #E1E4EA);
            border-bottom: 1px solid var(--wpsr-primary-border, #E1E4EA);
            box-shadow: 0 1px 2px 0 rgba(10, 13, 20, 0.03);
            padding: 10px 12px;
            .el-input__inner{
                background-color: transparent !important;
            }
            &.is-focus{
                border-top: 1px solid var(--wpsr-heading-text, #0E121B);
                border-bottom: 1px solid var(--wpsr-heading-text, #0E121B);
            }
        }
        .el-input__wrapper.is-focus ~ .el-input-group__append,
        .el-input__wrapper.is-focus ~ .el-input-group__prepend,
        .el-input-group__prepend:has(+ .el-input__wrapper.is-focus) {
            border: 1px solid var(--wpsr-heading-text, #0E121B);
        }
        .el-input__wrapper.is-focus ~ .el-input-group__append{
            border-left: none;
        }
        .el-input__wrapper.is-focus ~ .el-input-group__prepend,
        .el-input-group__prepend:has(+ .el-input__wrapper.is-focus){
            border-right: 1px solid var(--wpsr-primary-border, #E1E4EA);
        }
    }
    &.wpsr-input-default{
        height: 40px;
        border-radius: 10px;
        &.el-date-editor{
            height: 40px;
        }
        &.wpsr-border-all-around{
            .el-input__wrapper{
                border: 1px solid var(--wpsr-primary-border, #E1E4EA);
                border-radius: 10px;
                &.is-focus{
                    border: 1px solid var(--wpsr-heading-text, #0E121B);
                }
            }
            .el-input__wrapper.is-focus ~ .el-input-group__prepend,
            .el-input-group__prepend:has(+ .el-input__wrapper.is-focus){
                border: 1px solid var(--wpsr-primary-border, #E1E4EA);
            }
        }
        &.wpsr-border-left-side-around{
            .el-input__wrapper{
                border: 1px solid var(--wpsr-primary-border, #E1E4EA);
                border-radius: 10px 0 0 10px;
                &.is-focus{
                    border: 1px solid var(--wpsr-heading-text, #0E121B);
                }
            }
            .el-input__wrapper.is-focus ~ .el-input-group__prepend,
            .el-input-group__prepend:has(+ .el-input__wrapper.is-focus){
                border: 1px solid var(--wpsr-primary-border, #E1E4EA);
                border-radius: 10px 0 0 10px;
            }
        }
        .el-input-group__prepend{
            border: 1px solid var(--wpsr-primary-border, #E1E4EA);
            box-shadow: 0 1px 2px 0 rgba(10, 13, 20, 0.03);
            padding: 10px;
            background-color: var(--wpsr-primary-bg, #FFF);
            border-radius: 10px 0 0 10px;
        }
        .el-input__wrapper{
            background-color: var(--wpsr-primary-bg, #FFF) !important;
            border-top: 1px solid var(--wpsr-primary-border, #E1E4EA);
            border-bottom: 1px solid var(--wpsr-primary-border, #E1E4EA);
            border-right: 1px solid var(--wpsr-primary-border, #E1E4EA);
            box-shadow: 0 1px 2px 0 rgba(10, 13, 20, 0.03);
            padding: 10px 12px;
            border-radius: 0 10px 10px 0;
            .el-input__inner{
                background-color: transparent !important;
            }
            &.is-focus{
                border-top: 1px solid var(--wpsr-heading-text, #0E121B);
                border-bottom: 1px solid var(--wpsr-heading-text, #0E121B);
                border-right: 1px solid var(--wpsr-heading-text, #0E121B);
            }
        }
        .el-input__wrapper.is-focus ~ .el-input-group__prepend,
        .el-input-group__prepend:has(+ .el-input__wrapper.is-focus) {
            border: 1px solid var(--wpsr-heading-text, #0E121B);
        }
        .el-input__wrapper.is-focus ~ .el-input-group__prepend,
        .el-input-group__prepend:has(+ .el-input__wrapper.is-focus){
            border-right: 1px solid var(--wpsr-primary-border, #E1E4EA);
        }
    }
}

.wpsr-select-field-primary.el-select .el-select__wrapper{
    background-color: var(--wpsr-primary-bg, #FFFFFF);
    border: 1px solid var(--wpsr-primary-border, #E1E4EA);
    box-shadow: 0px 1px 2px 0px var(--wpsr-shadow-light, rgba(10, 13, 20, 0.03));
    border-radius: 8px;
    padding: 6px 14px;
    font-size: 14px;
    font-weight: 400;
    min-height: 32px;
    color: var(--wpsr-primary-text, #525866);
    .el-select__caret{
        color: var(--wpsr-primary-text, #525866);
    }

    &:hover,
    &.is-focused,
    &.is-focus{
        border-color: var(--wpsr-secondary-link-hover, #0E121B);
        box-shadow: 0px 1px 2px 0px var(--wpsr-shadow-light, rgba(10, 13, 20, 0.03));
    }
}
.wpsr_social_review_admin,
.wpsr_primary_checkbox_or_radio{
    .el-checkbox__inner{
        background-color: var(--wpsr-primary-bg, #FFF);
        border-color: var(--wpsr-responsivebar-svg-default-color, #CACFD8);
        border-radius: 4px;
    }
    .el-radio__inner{
        background-color: var(--wpsr-primary-bg, #FFF);
        border-color: var(--wpsr-responsivebar-svg-default-color, #CACFD8);
    }
    .el-checkbox__input.is-indeterminate .el-checkbox__inner,
    .el-checkbox__input.is-checked .el-checkbox__inner,
    .el-radio__input.is-checked .el-radio__inner{
        background-color: var(--wpsr-primary-btn-bg, #5525D9);
        border-color: var(--wpsr-primary-btn-bg, #5525D9);
    }
    .el-radio__input.is-checked .el-radio__label{
        color: var(--wpsr-primary-btn-bg, #5525D9);
    }
    .el-checkbox__label{
        color: var(--wpsr-heading-text, #0E121B);
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        padding-bottom: 0;
    }
    .el-checkbox.is-checked .el-checkbox__label{
        color: var(--wpsr-primary-text, #525866);
    }
    .el-checkbox__inner{
        &:hover{
            border-color: var(--wpsr-primary-btn-bg, #5525D9);
        }
    }
}
.wpsr_btn_fullwidth{
    width: 100%;
}

.el-button.wpsr_btn_with_icon{
    span{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        color: var(--wpsr-primary-text, #525866);
    }

}
// text-area
.wpsr-text-area{
    .el-textarea__inner{
        
        border-radius: var(--wpsr-radius-md, 8px);
        border: 1px solid var(--wpsr-primary-border, #E1E4EA);
        background: var(--wpsr-primary-bg, #FFF);
        /* regular-shadow/x-small */
        box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    }

    .el-textarea__inner.is-focus{
        border-radius: var(--wpsr-radius-md, 8px);
        border: 1px solid var(--wpsr-heading-text, #0E121B);
        background: var(--wpsr-primary-bg, #FFF);

        /* components/buttons/important-focus */
        box-shadow: 0px 0px 0px 2px var(--wpsr-primary-bg, #FFF), 0px 0px 0px 4px var(--wpsr-shadow-soft, rgba(153, 160, 174, 0.16));
    }
}

// text-input
.wpsr-text-input{
    input[type="text"], 
    input[type="password"], input[type="date"], input[type="datetime"], 
    input[type="datetime-local"], input[type="email"], input[type="month"], 
    input[type="number"], input[type="search"], input[type="tel"], 
    input[type="time"], input[type="url"], input[type="week"]{
        padding: 0;
    }

    &.wpsr_table_search_input{ width: 240px; }
    &.wpsr-editor-text-input{ width: 170px; }

    input::placeholder {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: -0.084px;
    }

    .el-input__prefix-inner>:last-child {
        margin-right: 6px;
    }
    
    .el-input__wrapper, .el-select__wrapper {
        color: var(--wpsr-primary-text, #525866);
        border-radius: var(--wpsr-radius-md, 8px);
        // border: 1px solid var(--wpsr-primary-border, #E1E4EA);
        background: var(--wpsr-primary-bg, #FFF);
        /* regular-shadow/x-small */
        box-shadow: 0px 1px 2px 0px var(--wpsr-shadow-light, rgba(10, 13, 20, 0.03));
        transition: border-color 0.2s, box-shadow 0.2s, background 0.2s;
        width: 100%;
        .el-select__caret{
            color: var(--wpsr-primary-text, #525866);
        }
    }

    .el-textarea__inner:focus {
        border-radius: var(--wpsr-radius-md, 8px);
        border: 1px solid var(--wpsr-primary-border, #E1E4EA);
        background: var(--wpsr-primary-bg, #FFF);
        box-shadow: 0px 1px 2px 0px var(--wpsr-shadow-light, rgba(10, 13, 20, 0.03));
    }

    .el-select__wrapper.is-focused {
        box-shadow: 0 0 0 1px var(--wpsr-heading-text, #0E121B);
    }
    
    .el-input__wrapper.is-focus{
        border-radius: var(--wpsr-radius-md, 8px);
        border: 1px solid var(--wpsr-heading-text, #0E121B);
        background: var(--wpsr-primary-bg, #FFF);

        /* components/buttons/important-focus */
        box-shadow: 0px 0px 0px 2px var(--wpsr-primary-bg, #FFF), 0px 0px 0px 4px var(--wpsr-shadow-soft, rgba(153, 160, 174, 0.16));
    }
}
.wpsr-select-input-field{
    .el-select__wrapper{
        height: 40px;
        border-radius: 10px;
        border: 1px solid var(--wpsr-primary-border, #E1E4EA);
        background: var(--wpsr-primary-bg, #FFF);
    }
}
.wpsr_social_review_admin .el-switch.is-checked .el-switch__core {
    background-color: var(--wpsr-primary-btn-bg);
}
.wpsr_social_review_admin .el-switch.is-checked .el-switch__core {
    border-color: var(--wpsr-primary-btn-bg);
}

.wpsr_social_review_admin .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: var(--wpsr-primary-btn-bg, #5525D9);
    border-color: var(--wpsr-primary-btn-bg, #5525D9);
}

.wpsr_social_review_admin .el-checkbox__inner:hover {
    border-color: var(--wpsr-primary-btn-bg, #5525D9) !important;
}
.wpsr_social_review_admin .el-slider__bar {
    background-color: var(--wpsr-primary-btn-bg);
}
.wpsr_social_review_admin .el-slider__button {
    border: 2px solid var(--wpsr-primary-btn-bg);
}

.wpsr_social_review_admin .el-input .el-input__wrapper,
.wpsr_social_review_admin .el-input .el-input__wrapper input,
.wpsr_social_review_admin .el-input__wrapper,
.wpsr-text-input .el-select__wrapper {
    background: var(--wpsr-secondary-bg, #F5F7FA);
}

.wpsr-global-settings-main .el-input .el-input__wrapper,
.wpsr-global-settings-main .el-input .el-input__wrapper input,
.wpsr-global-settings-main .el-input__wrapper,
.wpsr-text-input .el-select__wrapper {
    background: var(--wpsr-primary-bg, #F5F7FA);
}

.wpsr-text-input .el-select__wrapper {
    border: 1px solid var(--wpsr-primary-border, #E1E4EA);
}

.toplevel_page_wpsocialninja{
    background-color: var(--wpsr-secondary-bg, #F5F7FA);
    #wpbody-content{
        padding-bottom: 0;
    }
    #wpbody-content,
    #wpfooter {
        color: var(--wpsr-primary-text, #525866);
        position: relative;
        bottom: 0;
    }
    .el-overlay{
        background: rgba(2, 13, 23, 0.24);
        backdrop-filter: blur(5px);
    }
    .wpsr-confirmation-modal{
        .wpsr-delete-content{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .wpsr-delete-details {
            margin-top: 10px;
            background-color: var(--wpsr-warning-bg);
            border: 1px solid var(--wpsr-warning-bg);
            border-radius: var(--wpsr-radius-intermediate);
            padding: 12px;
            text-align: left;
            p {
                margin: 4px 0;
                font-size: 14px;
                color: var(--wpsr-warning-text);
            }
        }
        .el-dialog__footer{
            padding-top: 0;
        }
    }
    .el-popover.el-popper,
    .wpsr-confirmation-modal{
        border: 1px solid var(--wpsr-primary-border, #E1E4EA);
        background-color: var(--wpsr-primary-bg, #FFFFFF);
        border-radius: 20px;
        padding: 20px;
        &.is-light,
        &.is-light>.el-popper__arrow:before{
            background-color: var(--wpsr-primary-bg, #FFFFFF);
            border: 1px solid var(--wpsr-primary-border, #E1E4EA);
        }
        h4{
            color: var(--wpsr-heading-text, #0E121B);
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            padding-bottom: 0;
        }
        p{
            font-size: 12px;
            font-weight: 400;
            margin-top: 5px;
            margin-bottom: 0;
            color: var(--wpsr-primary-text, #525866);
        }
    }
    .el-textarea .el-textarea__inner {
        background: var(--wpsr-secondary-bg, #F5F7FA);
        box-shadow: unset;
    }
    .el-dropdown-menu__item:hover,
    .el-dropdown-menu__item:focus,
    .el-select-dropdown__item.is-selected,
    .el-select-dropdown__item.is-hovering {
        color: var(--wpsr-menu-text-active) !important;
        background-color:  var(--wpsr-secondary-bg, #F5F7FA) !important;
        font-weight: 400;
        font-style: normal;
    }
}
.wpsr-text-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80px;
}
.wpsr_color_picker{
    .el-color-picker__trigger{
        border-radius: var(--wpsr-radius-md, 8px);
    }
}

.wpsr-file-upload {
    display: inline-block;
    padding: 6px 8px !important;
    border: 1px solid var(--wpsr-primary-border, #E1E4EA);
    border-radius: 8px;
    background: var(--wpsr-primary-bg, #FFFFFF);
    font-size: 14px;
    color: var(--wpsr-primary-text, #525866);
    cursor: pointer;
    transition: all 0.2s ease;
}
.wpsr-file-upload:hover {
    border-color: var(--wpsr-secondary-link-hover, #0E121B);
}
.wpsr-file-upload::-webkit-file-upload-button {
    background: var(--wpsr-secondary-bg, #F5F7FA);
    padding: 4px 6px !important;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 500;
    color: var(--wpsr-primary-text, #525866);
    border: 1px solid var(--wpsr-primary-border, #E1E4EA);
    transition: all 0.2s ease;
}
.wpsr-file-upload::-webkit-file-upload-button:hover {
    background: var(--wpsr-primary-bg, #FFFFFF);
}