.wpsr-no-permission{
  box-sizing: border-box;
  text-align: center;
  h3{
    color: #1d2327;
    margin: 0px;
    margin-top: 30px;
    font-size: 1.3em;
  }
  p{
    font-size: 13px;
    line-height: 1.5;
    margin: 10px;
  }
}