.wpsr-screen-options-drawer {
  position: fixed;
  top: 32px;
  right: 0;
  width: 400px;
  height: 100vh;
  background: var(--wpsr-primary-bg, #fff);
  box-shadow: 8px 0 16px 10px rgba(14, 18, 27, 0.06);
  z-index: 2000;
  overflow-y: auto;
  transition: right 0.4s;

  &.slide-drawer-enter-active,
  &.slide-drawer-leave-active {
    transition: all 0.3s;
  }
  &.slide-drawer-enter,
  &.slide-drawer-leave-to {
    right: -340px;
    opacity: 0;
  }
  .wpsr-platform-info{
    display: flex;
    align-items: center;
    img{
      width: 24px;
      height: 24px;
      margin-right: 10px;
      object-fit: contain;
      border-radius: 6px;
    }
  }
  .wpsr-option-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    padding: 12px 16px;
    color: var(--wpsr-primary-text, #0E121B);
    .el-switch{
      &.is-checked{
        .el-switch__core{
          background-color: var(--wpsr-primary-btn-bg, #5525D9);
        }
      }
      .el-switch__core{
        --el-switch-on-color: #E1E4EA;
      }
    }
  }

  .wpsr-drawer-section {
    border-radius: 12px;
    border: 1px solid var(--wpsr-primary-border, #E1E4EA);
    overflow: hidden;
    margin-bottom: 20px;

    .wpsr-drawer-option {
      border-radius: 0;

      .wpsr-option-label {
        border-radius: 0;
      }

      &:first-child .wpsr-option-label {
        border-radius: 12px 12px 0 0;
      }
      &:last-child .wpsr-option-label {
        border-radius: 0 0 12px 12px;
      }
    }
  }
}

.wpsr-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--wpsr-primary-border, #E1E4EA);
  h2{
    font-size:  16px;
    font-weight: 500;
    color: var(--wpsr-heading-text, #0E121B);
    margin: 0;
    padding: 0;
  }
  padding: 16px 20px;
}

.wpsr-drawer-close {
  background: none;
  border: none;
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin-left: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  svg{
    path{
      fill: var(--wpsr-svg-primary-color, #525866);
    }
  }
}

.wpsr-drawer-loading,
.wpsr-drawer-error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
  text-align: center;
  color: #606266;
}

.wpsr-drawer-loading .el-icon,
.wpsr-drawer-error .el-icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.wpsr-drawer-content{
  h4{
    font-size:  14px;
    font-weight: 500;
    color: var(--wpsr-heading-text, #0E121B);
    margin: 0;
    padding: 0;
  }
  padding: 16px 20px;
  .wpsr-section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .el-checkbox__label{
      font-size: 12px;
      font-weight: 500;
      color: var(--wpsr-primary-text, #525866);
    }
    .el-checkbox__input.is-checked .el-checkbox__inner{
      background-color: var(--wpsr-primary-btn-bg, #5525D9);
      border-color: var(--wpsr-primary-btn-bg, #5525D9);
    }
    .is-checked+.el-checkbox__label{
      color: var(--wpsr-primary-text, #525866);
    }
  }
}
.wpsr-drawer-option{
  border-bottom: 1px solid var(--wpsr-primary-border, #E1E4EA);
  &.wpsr-drawer-option-enabled{
    .wpsr-option-label{
      background-color: #F8F6FE;
    }
  }
  &:last-child{
    border-bottom: none;
  }
}
