.wpsr-swiper-prev-next.wpsr-swiper-next,
.wpsr-swiper-prev-next.wpsr-swiper-prev {
	background-image: none;
	background-color: #fff;
	color: #909090;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
	&:after {
		font-size: 16px;
	}
	&:hover,
	&:focus{
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
		background-color: #fff;
	}
	height: 40px;
	width: 40px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	border-radius: 50%;
	z-index: 2;
	text-transform: none;
	transition: all 0.2s ease;
	cursor: pointer;
}

.wpsr-swiper-prev-next.wpsr-swiper-next:after,
.wpsr-swiper-prev-next.wpsr-swiper-prev:after
{
	font-size: 14px;
}
.wpsr-swiper-prev-next.wpsr-swiper-next{
	right: -20px;
}
.wpsr-swiper-prev-next.wpsr-swiper-prev{
	left: -20px;
}
.wpsr-swiper-pagination{
	bottom: 0 !important;
	left: 0;
	right: 0;
	span{
		background-color: #000;
		opacity: .2;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		margin: 0 5px;
		transition: .4s;
		&:hover,
		&:focus {
			opacity: 1;
		}
		&:hover {
			-webkit-transform: scale(1.3);
			-ms-transform: scale(1.3);
			transform: scale(1.3);
		}
		&.swiper-pagination-bullet-active{
			-webkit-transform: scale(1.3);
			-ms-transform: scale(1.3);
			transform: scale(1.3);
			opacity: 1;
		}
	}
}

.wpsr-feed-popup-carousel-wrapper{
	.wpsr-swiper-next,
	.wpsr-swiper-prev{
		width: 40px;
		height: 40px;
		background-color: #fff;
		color: #909090;
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
		font-size: 24px;
		text-align: center;
		line-height: 45px;
		&.swiper-button-disabled{
			opacity: 0.35;
			cursor: auto;
			pointer-events: none;
		}
		&:hover,
		&:focus{
			box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
			background-color: #fff;
		}
		&:after{
			font-size: 16px;
		}
	}
}


//.wpsr-swiper-next:after{
//	padding-right: 10px;
//}

//.wpsr-swiper-prev:after{
//	padding-left: 15px;
//}

.wpsr-reviews-slider{
	padding-top: 30px;
	padding-left: 5px;
	margin-right: -15px;
}
.wpsr-reviews-slider-wrapper-inner{
	position: relative;
}
.wpsr-twitter-carousel{
	.wpsr-twitter-wrapper-inner{
		position: relative;
	}
}
.wpsr-youtube-slider-activate .wpsr-yt-feed-wrapper-inner{
	position: relative;
}
.wpsr-instagram-slider-activate .wpsr-ig-feed-wrapper-inner{
	position: relative;
}
.wpsr-facebook-slider-activate .wpsr-fb-feed-wrapper-inner{
	position: relative;
}

.wpsr-reviews-slider .swiper-wrapper,
.wpsr-twitter-feed-wrapper .swiper-wrapper,
.wpsr-yt-feed-wrapper .swiper-wrapper,
.wpsr-ig-feed-wrapper .swiper-wrapper,
.wpsr-fb-feed-wrapper .swiper-wrapper
{
	margin-bottom: 10px;
}
.wpsr-twitter-feed-wrapper{
	.swiper-wrapper{
		margin-bottom: 40px;
	}
	//&.wpsr-twitter-carousel{
	//	.wpsr-swiper-pagination{
	//		margin-bottom: 40px
	//	}
	//}
}
.wpsr-feed-popup-carousel-wrapper{
	.wpsr-swiper-prev{
		left: 5px;
	}
	.wpsr-swiper-next{
		right: 5px;
	}
	.wpsr-swiper-pagination{
		span{
			background-color: #fff;
			opacity: .4;
			&.swiper-pagination-bullet-active{
				opacity: 1;
			}
		}
	}
}