.wpsr-custom-review-modal{
  .el-dialog{
    border-radius: 10px;
  }
  .el-dialog__header{
    border-radius: 10px 10px 0 0;
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    span{
      font-weight: 700;
      font-size: 18px;
    }
    .el-dialog__headerbtn{
      top: 12px;
      font-size: 20px;
    }
  }
  .el-dialog__body{
    padding: 0;
    .wpsr-custom-review-modal-fields{
      padding: 30px 30px 0;
      @media screen and (max-width: 1024px) {
        padding: 15px 10px 0;
      }
      .el-form-item{
        width: 100%;
        margin-bottom: 10px;
        @media screen and (max-width: 1024px) {
          margin-right: 10px;
        }
        .el-form-item__label{
          padding: 0 0 5px;
        }
        .el-form-item__content{
          .wpsr-form-item-note{
            font-size: 12px;
            padding: 0;
            margin: -8px 0 12px 0;
          }
        }
        .el-form-item__error{
          padding-top: 0;
          top: 90%;
        }
        .el-date-editor.el-input,
        .el-date-editor.el-input__inner{
          width: 100%;
        }
        .wpsr_photo_card .wpsr_photo_holder{
          width: 65px;
        }
        .wpsr_photo_card.wpsr_photo_card_upload_active .wpsr_photo_holder{
          height: 45px;
          width: 100%;
        }
        .wpsr_photo_card.wpsr_photo_card_upload_active .photo_widget_btn {
          top: 10%;
        }
        .wpsr_photo_card .photo_widget_btn{
          height: 30px;
          width: 30px;
        }
      }
      .wpsr-custom-review-field{
        margin-bottom: 20px;
      }
      h3{
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        @media screen and (max-width: 1024px) {
          font-size: 12px;
        }
      }
      p{
        margin: 8px 0 12px;
      }
      .el-input{
        .el-input__inner,
        .el-textarea__inner{
          height: 45px;
          border: 1px solid #ddd;
        }
      }
      .el-rate{
        margin-top: 5px;
        span{
          i{
            font-size: 30px;
            letter-spacing: -7px;
          }
        }
      }
      .avatar-uploader,
      .el-input,
      .el-textarea,
      .el-rate{
       // margin-bottom: 25px;
      }
      .el-select{
        .el-input{
          margin-bottom: 0;
        }
      }

      .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
      }
      .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
      }
      .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 100px;
        height: 100px;
        display: block;
        object-fit: cover;
        line-height: 100px;
        text-align: center;
      }
      .avatar {
        width: 100px;
        height: 100px;
        display: block;
        object-fit: cover;
      }

    }
  }
  .wpsr-custom-review-modal-footer{
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 15px;
    text-align: right;
    border-radius: 0 0 10px 10px;
  }

  &.wpsr-shoppable-modal{
    .el-dialog__header span{
      font-size: 16px;
    }
    .el-dialog__body{
      .wpsr-custom-review-modal-fields{
        padding: 10px 30px 15px;
        h3{
          font-size: 14px;
        }
        .el-form-item__label{
          padding: 0;
        }
        .el-select{
          width: 100%;
        }
        .el-form-item__error{
          top: 85%;
        }
        .el-form-item{
          &.wpsr-form-is-error .el-input__inner{
            border-color: #F56C6C;
          }
        }
        .wpsr-form-urls{
          .el-checkbox:last-of-type{
            margin-top: 10px;
          }
        }
      }
    }
  }
}