$dark : #2a2e35;
$dark_off : #405259;
$opposite_dark : #eff3f5;
$opposite_dark_hover : #ffffff;
$dark_border : #5A6970;

.wpsr_editor_group_items {
    .el-switch, .el-select{
      display: block;
    }
    .wpsr_editor_group_item {
      position: relative;
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      cursor: pointer;
      background: $opposite_dark;
      color: $dark;
      line-height: 32px;
      height: 32px;
      border-radius: 2px;
      outline: none;
      padding: 0 10px;
      transition: all 0.3s ease;
      &:hover{
        background: $opposite_dark_hover;
        color: $dark;
        span {
          i {
           // color: #ebebeb;
          }
        }
      }
      span{
        flex-basis: 100%;
        flex-grow: 1;
        i{
          float: right;
          margin-right: -10px;
          color: #5f6163;
        }
      }
    }
    .wpsr_editor_overflow {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background: #2a2e35;
      z-index: 999;
      .wpsr-settings-input{
        h4{
          font-size: 12px;
          margin: 0 0 5px;
        }
      }
      .wpsr_editor_header{
        position: relative;
        background: #2a2e35;
        padding: 10px 54px;
        cursor: pointer;
        outline: none;
        border-bottom: 1px solid #5e6969;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        i{
          display: block;
          position: absolute;
          top: 50%;
          left: 24px;
          transform: translateY(-45%);
          transition: all 0.15s ease;
        }
        &:hover{
          i{
            left: 20px;
          }
        }
      }
      .editor_overflow_content,
      .editor_overflow_clonable_content{
        padding: 32px 24px;
        background: $dark;
        height: calc(100vh - 140px);
        overflow: auto;
        overflow-x: hidden;
        overflow-y: auto;

        .wpsr_editor_edit_item{

          .el-input__inner{
            box-sizing: border-box;
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            background: #303131;
            border-radius: 2px;
            border: none;
            width: 100%;
            height: 32px;
            outline: none;
            line-height: 20px;
            padding: 6px 16px;
            margin: 0;
            transition: all 0.1s ease;
            &:focus{
              background-color: #2c2d2d;
              outline: none;
              box-shadow: none;
            }
          }
          .wpsr_editor_group_item{
            display: table;
            width: 100%;
            margin: 0 0 12px;
            background: $opposite_dark;
            height: 36px;
            border-radius: 2px;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            line-height: 1.2;
            border: 1px solid $opposite_dark;

            &:hover{
              background: $opposite_dark_hover;
              color: $dark;
              border: 1px solid $dark;
            }
            .item-reorder{
              vertical-align: middle;
              display: table-cell;
              width: 7px;
              cursor: move;
              outline: none;
              i{

              }
            }
            span{
              vertical-align: middle;
              display: table-cell;
              cursor: pointer;
            }
            i{
              cursor: pointer;
              display: table-cell;
              vertical-align: middle;
              width: 25px;
              color: #646668;
              -webkit-transition: all 0.3s ease;
              transition: all 0.3s ease;
              &:hover{
                color: $dark_off;
              }
            }
          }
        }
        .wpsr_add_item {
          text-align: center;
          text-transform: uppercase;
          color: #646668;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          font-size: 10px;
          font-weight: 500;
          cursor: pointer;
          &:hover{
            color: #fff;
          }
        }
      }
      .editor_overflow_clonable_content{
        .wpsr_editor_group_item{
          span{
            padding: 0;
          }
        }
      }
    }
  }