.wpsr-feed-wrap .wpsr-yt-header-subscribe-btn{
    margin-left: 30px;
    flex: auto 0 0;
    @media screen and (max-width: 767px) {
      margin-left: 0;
      margin-top: 15px;
    }
    a{
      text-decoration: none;
      box-shadow: none;
      padding: 5px 20px;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14px;
      background-color: #c00;
      border-radius: 2px;
      display: inline-block;
      &:focus{
        outline: 2px solid #72aee6;
      }
      &:hover{
        outline: none;
      }
      &:hover,
      &:focus{
        background: #c00;
        text-decoration: none;
      }
    }
}