.wpsr-yt-feed-template2{
  .wpsr-yt-all-feed{
    .wpsr-yt-video{
      position: relative;
      overflow: hidden;
      .wpsr-yt-video-preview{
        svg{
          z-index: 4;
        }
        img{
          transition: 0.4s;
          transform: scale(1);
        }
      }
      .wpsr-yt-video-info{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        transition: 0.4s;
        padding: 15px;
        box-sizing: border-box;
        h3 a,
        .wpsr-yt-video-statistics .wpsr-yt-video-statistic-item,
        .wpsr-yt-video-description{
          color: #fff;
        }
        .wpsr-yt-channel-title{
          color: #fff;
        }

        .wpsr-live-now-btn{
          background-color: #c00;
          color:#fff;
          border: 1px solid #c00;
          text-decoration: none;
        }
      }
      &:not(.active){
        &:hover{
          .wpsr-yt-video-preview{
            img{
              transform: scale(1.05);
            }
          }
          .wpsr-yt-video-info{
            opacity: 1;
            visibility: visible;
          }
        }
      }

    }
  }

}