.wpsr-yt-feed-template3{
  .wpsr-yt-all-feed{

    @media screen and (max-width: 1024px) and (min-width: 768px) {
      .wpsr-col-12,
      .wpsr-col-6,
      .wpsr-col-4,
      .wpsr-col-3{
        max-width: 50%;
        flex: 0 0 50%;
      }
    }
    .wpsr-yt-video{
      display: flex;
      flex-direction: row;
      align-items: center;

      >div{
        width: 50%;
        max-width: 256px;
        margin-right: 15px;
      }
      .wpsr-yt-video-preview{
        //width: 50%;
        //max-width: 256px;
        //margin-right: 15px;
      }
      .wpsr-yt-video-info{
        flex: 1;
        width: 50%;
        padding-top: 0;
        padding-right: 0;
        margin-right: 0;
      }
      @media screen and (max-width: 767px) {
        display: block;
        >div{
          width: 100%;
          max-width: inherit;
          margin-right: 0;
        }
        .wpsr-yt-video-info{
          width: 100%;
          padding-top: 15px;
        }
      }
    }
  }
}