 @import './header';
 @import './popup';
 //@import './subscribe_button';
 @import '../../elements/load-more';
 @import '../../elements/pagination';
 @import './livesteam';
 @import "../../elements/youtube-widget";
.wpsr-yt-feed-wrapper{
  &[class*=wpsr-yt-feed-template]{
    margin-bottom: 30px;
  }
}
.wpsr-yt-video{
  margin-bottom: 30px;
  /* fix third party plugin conflict */
  .fluid-width-video-wrapper {
    position: initial !important;
    padding-top: 0 !important;
  }
  &:hover{
    .wpsr-yt-video-preview{
      svg{
        .wpsr-yt-play-icon-color-1{
          fill: rgba(255, 0, 0, 1);
        }
      }
    }
  }
  .wpsr-yt-video-player{
    display: none;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    object,
    embed,
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .wpsr-yt-video-preview{
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
    img{
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      margin: -10.5% 0px -10%;
      &.wpsr-hide{
        display: none;
      }
    }
    .wpsr-yt-video-duration{
      position: absolute;
      z-index: 3;
      right: 10px;
      bottom: 10px;
      background: #000;
      padding: 4px 6px;
      color: #fff;
      border-radius: 2px;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.4;
    }
    svg{
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      width: 55px;
      display: block;
      transform: translateX(-50%) translateY(-50%);
      transition: all 0.3s ease;
      .wpsr-yt-play-icon-color-1{
        fill: rgba(255, 0, 0, 0.8);
      }
    }
  }

  &.active{
    .wpsr-yt-video-player {
      display: block;
    }
    .wpsr-yt-video-preview{
      display: none;
    }
  }


  .wpsr-yt-video-info{
    padding-top: 15px;
    padding-right: 20px;
    h3{
      font-size: 14px;
      font-weight: 500;
      line-height: 1.2;
      padding: 0;
      margin-top: 0;
      margin-bottom: 8px;
      cursor: pointer;
       a{
         color: #030303;
         text-decoration: none;
         box-shadow: none;
         &:focus{
           outline: 2px solid #72aee6;
         }
       }
      &:hover{
        a{
          text-decoration: underline;
        }
      }
    }
    .wpsr-yt-video-description{
      color: #606060;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.4;
      padding: 0;
      margin-top: 8px;
      margin-bottom: 0;
      word-break: break-all;
    }
    .wpsr-yt-channel-title{
      text-decoration: none;
      font-size: 13px;
      color: #606060;
      font-weight: 400;
      line-height: 1.4;
      display: inline-block;
      margin: 0;
      padding: 0;
    }
    .wpsr-yt-video-statistics{
      margin-top: 5px;
      display: flex;
      .wpsr-yt-video-statistic-item{
        margin-right: 15px;
        font-size: 13px;
        position: relative;
        color: #606060;
        font-weight: 400;
        line-height: 1.4;
        &:after{
          position: absolute;
          content: ".";
          top: -15px;
          font-size: 25px;
          margin: 0 5px;
        }
        &:last-child{
          &:after{
            content: none;
          }
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }

}

.wpsr-yt-load-more.wpsr-load-more-default{
  margin: 0;
  background-color: rgb(204 0 0 / 55%);
  padding: 10px 20px;
  max-width: initial;
  width: auto;
  height: auto;
  border-radius: 2px;
  &:hover{
    background-color: rgb(204 0 0 / 67%);
  }
}

// .wpsr-yt-load-more{
//   margin-bottom: 30px;
//   background-color: rgb(204 0 0 / 55%);
//   &:hover{
//     background-color: rgb(204 0 0 / 67%);
//   }
// }

 .wpsr-wrapper-loader{
   .wpsr-yt-all-feed{
     opacity: 0.7;
   }
 }

 .wpsr-yt-video-player-gallery{
   position: relative;
   width: 100%;
   overflow: hidden;
   padding-top: 56.25%; /* 16:9 Aspect Ratio */
   iframe{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border: none;
   }
 }
 // remove extra space for rll youtube player plugin
 .wpsr-yt-video.wpsr-yt-video-player-gallery .rll-youtube-player{
   height: initial;
   position: initial;
   padding-bottom: initial;
   overflow: initial;
 }
.wpsr-youtube-slider-activate{
  .wpsr-youtube-footer{
    margin-top: 5px;
  }
}
.wpsr-youtube-footer{
  justify-content: center;
  .wpsr-yt-header-subscribe-btn{
    @media screen and (max-width: 767px) {
      margin-left: 15px;
    }
  }
}


 /* this CSS to stop carousel layout image flashes */
 .wpsr-youtube-slider-activate .wpsr-yt-video-preview {
   display: none;
 }
 .wpsr-slider-before-init .wpsr-yt-video-preview {
   display: block;
 }
 .wpsr-youtube-slider-activate .wpsr-animated-background {
   background: #f0f0f0;
 }
 .wpsr-slider-before-init .wpsr-animated-background {
   animation-duration: 1.25s;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
   animation-name: wpsrPlaceHolderShimmer;
   animation-timing-function: linear;
   background: darkgray;
   background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
   background-size: 800px 104px;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
 }