.wpsr-review-template-four{
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  margin-bottom: 30px;
  margin-top: 0;
  border-radius: 0;
  position: initial;
  .wpsr-recommends {
    justify-content: flex-start;
  }
  .wpsr-review-header{
    background-color: #fff;
    box-shadow: 0 0 57px 0 rgba(0, 0, 0, 0.05);
    padding: 30px;
    margin-bottom: 25px;
    position: relative;
    border-radius: 8px;
    @media screen and (max-width: 1024px) {
      padding: 25px 15px;
    }
    &:after{
      position: absolute;
      left: 60px;
      content: "";
      bottom: -20px;
      width: 0;
      height: 0;
      border-right: 20px solid transparent;
      border-top: 20px solid #fff;
    }
    .wpsr-rating-wrapper{
      padding-bottom: 8px;
      @media screen and (max-width: 1024px) {
        padding-bottom: 0;
      }
    }

    .wpsr-review-platform{
      right: 15px;
      left: auto;
      @media screen and (max-width: 1024px) {
        top: 5px;
        img{
          max-height: 18px;
        }
      }

    }


  }
  .wpsr-review-info{
    margin-right: auto;
    text-align: inherit;
    padding-top: 0;
    display: flex;
    align-items: center;
    margin-left: 30px;
    .wpsr-review-name-date{
      .wpsr-reviewer-name-url{
        margin: 0;
        padding: 0;
        text-decoration: none;
        box-shadow: none;
        .wpsr-reviewer-name{
          font-size: 16px;
          line-height: 1.4;
          color: #333;
          font-weight: 700;
          margin: 0;
          padding: 0;
        }
      }
    }
    .wpsr-reviewer-image{
      img{
        max-height: 60px;
        max-width: 60px;
        width: 100%;
        border-radius: 50%;
      }
      padding-right: 20px;
      @media screen and (max-width: 1024px) {
        padding-right: 10px;
        img{
          max-height: 55px;
        }
      }
    }
  }
  .wpsr-review-title {
    margin-bottom: 5px;
    margin-top: 0;
  }
}
