.wpsr-review-template-three{
  margin-top: 0;
  margin-left: 30px;
  .wpsr-recommends {
    justify-content: flex-start;
  }
  .wpsr-review-platform{
    position: absolute;
    top: 40px;
    left: -55px;
    transform: rotate(-90deg);
    span{
      background-color: #1cb03b;
      color: #fff;
      padding: 6px 15px;
      font-size: 16px;
      text-transform: capitalize;
      display: block;
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 25px 15px;
  }
  .wpsr-recommends{
    padding-top: 0;
  }
  &.wpsr-review-template-facebook{
    .wpsr-review-platform{
      left: -64px;
      span{
        background-color: #345a9e;
      }
    }
  }
  &.wpsr-review-template-zomato{
    .wpsr-review-platform{
      left: -58px;
      span{
        background-color: #f3153c;
      }
    }
  }
  &.wpsr-review-template-yelp{
    .wpsr-review-platform{
      left: -45px;
      span{
        background-color: #fa3e3e;
      }
    }
  }

  &.wpsr-review-template-airbnb{
    .wpsr-review-platform{
      span{
        background-color: #ff385c;
      }
    }
  }
  &.wpsr-review-template-tripadvisor{
    .wpsr-review-platform{
      left: -70px;
      top: 50px;
      span{
        background-color: #04a96c;
      }
    }
  }
  &.wpsr-review-template-amazon{
    .wpsr-review-platform{
      left: -58px;
      span{
        background-color: #ffa41c;
      }
    }
  }
  &.wpsr-review-template-trustpilot{
    .wpsr-review-platform{
      left: -65px;
      span{
        background-color: #00b67a;
      }
    }
  }
  &.wpsr-review-template-aliexpress{
    .wpsr-review-platform{
      left: -68px;
      span{
        background-color: #fe4646;
      }
    }
  }
  &[class~="wpsr-review-template-booking.com"] {
    .wpsr-review-platform{
      left: -76px;
    }
  }
  .wpsr-rating-wrapper{
    padding-bottom: 0;
  }

  .wpsr-review-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;

    .wpsr-reviewer-image{
      img{
        max-height: 60px;
        border-radius: 50%;
        max-width: 60px;
        object-fit: cover;
      }
      padding-right: 20px;
      @media screen and (max-width: 1024px) {
        padding-right: 10px;
        img{
          max-height: 55px;
        }
      }
    }
    .wpsr-review-info{
      margin-right: auto;
      text-align: inherit;
      padding-top: 0;
      .wpsr-reviewer-name-url{
        .wpsr-reviewer-name{
          font-size: 15px;
          @media screen and (max-width: 1024px) {
            font-size: 14px;
          }
        }
      }
    }
  }
  .wpsr-review-title {
    margin-bottom: 5px;
    margin-top: 0;
  }
  .wpsr-review-content{
    margin-top: 5px;
  }
}

.wpsr-reviews-template-grid3{
  .wpsr-ai-summary-enabled{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 30px;
    margin-top: 30px;
    column-gap: 15px;
    [class*="wpsr-col-"]{
      display: flex;
    }
    .wpsr-review-template{
      margin: 0;
      width: 100%;
    }
  }
}
