.wpsr-yt-header-subscribe-btn{
    margin-left: 15px;
    @media screen and (max-width: 767px) {
      margin-left: 0;
      margin-top: 15px;
    }
    a{
      text-decoration: none;
      box-shadow: none;
      padding: 10px 20px;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14px;
      background-color: #c00;
      border-radius: 2px;
      display: inline-block;
      &:hover,
      &:focus{
        outline: none;
      }
    }
}

.wpsr-youtube-footer{
    display: flex;
    justify-content: center;
    .wpsr-yt-header-subscribe-btn {
      margin-top: 5px;
    }
}