.wpsr-yt-feed-template3{
  .wpsr-yt-all-feed{
    .wpsr-yt-video{
      display: flex;
      flex-direction: row;
      align-items: center;

      >div{
        width: 50%;
        max-width: 256px;
        margin-right: 15px;
      }
      .wpsr-yt-video-preview{
        //width: 50%;
        //max-width: 256px;
        //margin-right: 15px;
      }
      .wpsr-yt-video-info{
        flex: 1;
        width: 50%;
        padding-top: 0;
        padding-right: 0;
        margin-right: 0;

      }
    }
  }
}