@import './header';
@import './popup';
@import './livestream';

.wpsr-yt-feed-wrapper{
  &[class*=wpsr-yt-feed-template]{
    margin-bottom: 30px;
  }
}

.wpsr-yt-all-feed{
  background-color: #f1f1f1;
  position: relative;
}
//.slick-slide{
//  .wpsr-yt-video{
//    margin-bottom: 15px;
//  }
//}
.wpsr-yt-video{
  margin-bottom: 30px;
  &:hover{
    .wpsr-yt-video-preview{
      svg{
        .wpsr-yt-play-icon-color-1{
          fill: rgba(255, 0, 0, 1);
        }
      }
    }
  }
  .wpsr-yt-video-player{
    display: none;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    object,
    embed,
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .wpsr-yt-video-preview{
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
    img{
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      margin: -9.5% 0px -10%;
      &.wpsr-hide{
        display: none;
      }
    }
    .wpsr-yt-video-duration{
      position: absolute;
      z-index: 3;
      right: 10px;
      bottom: 10px;
      background: #000;
      padding: 4px 6px;
      color: #fff;
      border-radius: 2px;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.4;
    }
    svg{
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      width: 55px;
      display: block;
      transform: translateX(-50%) translateY(-50%);
      transition: all 0.3s ease;
      .wpsr-yt-play-icon-color-1{
        fill: rgba(255, 0, 0, 0.8);
      }
    }
  }

  &.active{
    .wpsr-yt-video-player {
      display: block;
    }
    .wpsr-yt-video-preview{
      display: none;
    }
  }


  .wpsr-yt-video-info{
    padding-top: 15px;
    padding-right: 20px;
    h3{
      font-size: 14px;
      font-weight: 500;
      line-height: 1.2;
      padding: 0;
      margin-top: 0;
      margin-bottom: 8px;
      cursor: pointer;
       a{
         color: #030303;
         text-decoration: none;
         box-shadow: none;
       }
      &:hover{
        a{
          text-decoration: underline;
        }
      }
    }
    .wpsr-yt-video-description{
      color: #606060;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.4;
      padding: 0;
      margin-top: 8px;
      margin-bottom: 0;
      word-break: break-all;
    }
    .wpsr-yt-channel-title{
      text-decoration: none;
      font-size: 13px;
      color: #606060;
      font-weight: 400;
      line-height: 1.4;
      display: inline-block;
      margin: 0;
      padding: 0;
    }
    .wpsr-yt-video-statistics{
      margin-top: 5px;
      display: flex;
      .wpsr-yt-video-statistic-item{
        margin-right: 15px;
        font-size: 13px;
        position: relative;
        color: #606060;
        font-weight: 400;
        line-height: 1.4;
        &:after{
          position: absolute;
          content: ".";
          top: -15px;
          font-size: 25px;
          margin: 0 5px;
        }
        &:last-child{
          &:after{
            content: none;
          }
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }

}

.wpsr-yt-video-player-gallery{
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}