.wpsr-testimonial-template-two{
  &.wpsr-review-template{
    margin-top: 0;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F1F8FF;
  border-radius: 15px;
  @media screen and (max-width: 1024px) {
    padding: 25px 15px;
  }

  .wpsr-rating-wrapper{
    padding-bottom: 0;
    margin-top: 10px;
  }
  .wpsr-review-date{
    margin-top: 5px;
  }
  .wpsr-reviewer-image{
    img{
      max-height: 80px;
      border-radius: 50%;
      max-width: 80px;
      object-fit: cover;
      border: 4px solid #d4d4d4;
    }
    @media screen and (max-width: 1024px) {
      img{
        max-height: 70px;
        max-width: 70px;
      }
    }
  }
  .wpsr-review-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    text-align: center;
    .wpsr-review-info{
      margin-right: auto;
      text-align: inherit;
      padding-top: 0;
      .wpsr-reviewer-name-url{
        .wpsr-reviewer-name{
          font-size: 15px;
          @media screen and (max-width: 1024px) {
            font-size: 14px;
          }
        }
      }
      .wpsr-reviewer-position{
        display: block;
      }
      .wpsr-reviewer-position{
        font-size: 13px;
        font-weight: 400;
        line-height: 1.6;
        color: #11111180;
        margin: 2px 0 0 0;
        padding: 0;
      }
      .wpsr-author-website-logo-wrapper{
        img{
          height: 25px;
          object-fit: cover;
          width: auto;
          display: inline-block;
        }
      }
    }
  }
  .wpsr-review-title {
    margin-bottom: 5px;
    margin-top: 0;
    text-align: center;
  }
  .wpsr-review-content{
    margin-top: 5px;
    text-align: center;
  }
  .wpsr-review-images{
    margin-top: 5px;
  }
}